

{% extends "bloomy/layout.html" %}
{% block body %}
{% load widget_tweaks%}
<div class="bg-pink-600 p-8 min-h-screen"> 
    <div class="flex flex-col mx-auto items-center text-white ">
        <h3 class="text-2xl text-white">Defina sua Nova Senha</h3>
        <div class="text-white font-300 flex flex-col md:mx-[50px] lg:mx-[300px]">
            <p class="font-medium mb-6 mt-6 text-amarelo">Para garantir a segurança da sua conta, por favor, escolha uma nova senha que atenda aos seguintes requisitos:</p>
            <ul>
                <li>•	Mínimo de 8 caracteres: A senha deve conter pelo menos 8 caracteres.</li>
                <li>•	Use letras maiúsculas e minúsculas: Combine letras maiúsculas (A-Z) e minúsculas (a-z).</li>
                <li>•	Inclua números e símbolos: Adicione pelo menos um número (0-9) e um símbolo especial (@, #, $, etc.) para aumentar a segurança.</li>
                <li>•	Evite senhas óbvias: Não use senhas comuns, como “12345678” ou “senha”, e evite informações pessoais facilmente identificáveis, como seu nome ou data de nascimento.</li>
            </ul>
            <p class="mt-6 text-amarelo">Após definir sua nova senha, confirme-a no campo abaixo e clique em “Atualizar senha” para concluir a atualização.</p>
        </div>

        <form action="" method="post" class="mt-6 flex flex-col">
            {% csrf_token %}
            <label for="" class="text-white mt-4">Nova senha</label>
            {% render_field form.new_password1 class+="bg-transparent bg-transparent border border-amarelo rounded-full px-4 py-2 w-full text-amarelo placeholder-amarelo focus:outline-none focus:border-2" %}
            <label class="text-white mt-4">Confirmacao de senha</label>
            {% render_field form.new_password2 class+="bg-transparent bg-transparent border border-amarelo rounded-full px-4 py-2 w-full text-amarelo placeholder-amarelo focus:outline-none focus:border-2" %}
            <input type="submit" value="Atualizar senha" class="bg-amarelo hover:bg-yellow-200 cursor-pointer px-4 py-2 mt-4 border border-amarelo rounded-full text-pink-600 hover:pointer mb-4">
            <p class="italic mt-6 font-300"><b>Dica:</b> Para maior segurança, escolha uma senha única que você não utilize em outros sistemas.</p>
        </form>
    </div>
</div>
{% endblock %}
