{% extends "bloomy/layout.html" %}
{% block body %}
{% load widget_tweaks%}
<div class="bg-pink-600 p-8 min-h-screen"> 
    <div class="flex flex-col mx-auto items-center text-white ">
        <h3 class="text-2xl text-white">Reseteo de senha</h3>

    <div class="text-white font-300 flex flex-col mt-6">
        <p class="font-bold text-center mb-8 text-lg">Como funciona?</p>

        <ol>
            <li class="mb-2">1. Digite seu e-mail no campo abaixo e clique em “Enviar”.</li>
            <li class="mb-2">2. Verifique sua caixa de entrada e procure pelo e-mail de recuperação.</li>
            <li class="mb-2">3. Siga as instruções no e-mail para definir uma nova senha.</li>
        </ol>

        <p class="mt-8">Se você não receber o e-mail em alguns minutos, verifique sua pasta de <span class="font-medium">spam ou lixo eletrônico.</span></p>
        <p class="mt-4 mb-4"><span class="font-medium underline">Importante:</span> Caso tenha dificuldades ou não se lembre do e-mail associado à sua conta, <a href="https://wa.me/554388567343" class="underline hover:text-amarelo">entre em contato com o suporte.</a></p>

    </div>
        <form action="" method="post" class="mt-6 flex flex-col items-center">
            {% csrf_token %}
            {% render_field form.email placeholder=form.username.label class+="bg-transparent bg-transparent border border-yellow-400 rounded-full px-4 py-2 w-full text-yellow-400 placeholder-yellow-400 focus:outline-none focus:border-yellow-600" %}
            <input type="submit" value="Enviar email" name="Send email" class="bg-amarelo cursor-pointer hover:bg-yellow-200 px-4 py-2 mt-4 border border-yellow-400 rounded-full text-pink-600 hover:pointer mb-4">

        </form>
        <a href="{% url 'login' %}" class="text-amarelo ">Voltar pro login</a>
    </div>
</div>
<!-- <div class="hidden md:block"> 
    <img src="../../../static/three-rows.webp" class="w-full">
</div>
<div class="md:hidden"> 
    <img src="../../../static/three-rows-sm.webp" class="w-full">
</div> -->
{% endblock %}