{% extends "bloomy/layout.html" %}
{% block body %}
{% load widget_tweaks%}
<div class="bg-pink-600 p-8 min-h-screen"> 
    <div class="flex flex-col mx-auto items-center text-white ">
        <h3 class="text-2xl text-white">Email de reseteo de senha enviado</h3>
        <ul class="flex flex-col items-center">
            <li class="text-white mt-4 font-300">Verifique sua caixa de entrada e procure <span class="font-medium">pelo e-mail de confirmação.</span></li>
            <li class="text-white mt-4 font-300">Siga as instruções no e-mail para concluir o processo.</li> 
            <li class="text-white mt-4 font-300">Se você não receber o e-mail em alguns minutos, <span class="font-medium">verifique sua pasta de spam ou lixo eletrônico.</span></li>
                        
        </ul>

    </div>
</div>

{% endblock %}