{% extends "bloomy/layout.html" %}
{% block body %}
{% load widget_tweaks%}
<div class="bg-pink-600 p-8"> 
    <div class="flex flex-col mx-auto items-center text-white ">
        <h3 class="text-2xl text-white">Senha atualizada corretamente!</h3>
        <p class="text-white mt-4">Sua senha foi configurada corretamente. Ja pode fazer o login</p>
        <a href="{% url 'login' %}" class="text-white mt-6 bg-yellow-400 rounded-full p-4 hover:bg-yellow-600">Voltar pro login</a>
    </div>
</div>
<div class="hidden md:block"> 
    <img src="../../../static/three-rows.webp" class="w-full">
</div>
<div class="md:hidden"> 
    <img src="../../../static/three-rows-sm.webp" class="w-full">
</div>
{% endblock %}