{% extends "bloomy/layout.html" %}
{% block body %}
{% load widget_tweaks%}
<div class="bg-pink-600 p-8 min-h-screen"> 
    <div class="flex flex-col mx-auto items-center text-white">
        <h3 class="text-2xl text-white">Solicitação de Redefinição de Senha Enviada</h3>
    </div>
    <div class="mx-4 md:mx-32 font-300">
        <p class="text-amarelo mt-10 px-2 md:px-8">Verificamos sua solicitação de redefinição de senha. Em breve, você receberá um e-mail com instruções para redefinir sua senha. </p>
        <p class="text-white mt-10 px-2 md:px-8">
            Por favor, siga as orientações no e-mail para criar uma nova senha de acesso à sua conta. Se você não receber o e-mail 
            em alguns minutos, <span class="font-medium">verifique sua pasta de spam ou lixo eletrônico</span>. Caso ainda não o encontre, tente enviar a solicitação 
            novamente ou entre em contato com nosso suporte.
        </p>
    </div>  
</div>

{% endblock %}