{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.4.7/flowbite.min.css" rel="stylesheet">  -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
        body {
            font-family: "Alexandria", sans-serif;
        }
        .error {
            border-color: orange;
        }
        .error-message {
            color: white;
            display: none;
        }
        .password-eye {
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
        }
    </style>
</head>
{% load widget_tweaks %}
<body class="bg-rosa">
    <div class="relative overflow-hidden flex justify-center items-center">
        <div class="absolute hidden lg:block -right-16 -top-40 bg-laranja w-72 h-72 rounded-full"></div>
        <div class="absolute hidden lg:block -left-16 -bottom-100 bg-amarelo w-72 h-72 rounded-full"></div>

        <form action="" method="POST" class="p-6 rounded-lg max-w-md w-full" id="registration-form">
            {% csrf_token %}
            <img src="{% static 'logo-login (1).webp' %}" alt="bloomy logo" class="transform transition duration-300 hover:scale-110"> 
            <div class="container mx-auto">
                {% if messages %}
                    {% for message in messages %}
                        <div class="my-4 p-4 rounded-lg 
                            {% if message.tags == 'success' %} bg-green-300 border border-green-400 text-amarelo 
                            {% elif message.tags == 'error' %} bg-laranja border border-red-400 text-amarelo 
                            {% elif message.tags == 'warning' %} bg-amarelo border border-amarelo text-amarelo 
                            {% elif message.tags == 'info' %} bg-blue-300 border border-blue-400 text-amarelo 
                            {% else %} bg-gray-100 border border-gray-400 text-amarelo 
                            {% endif %}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <br> <br>
            <h3 class="text-center text-xl text-branco mb-4 transform transition duration-300 hover:scale-110">Bem-vindo à Bloomy</h3>

            <div class="mb-4 relative">
                {% render_field form.username placeholder=form.username.label class+="bg-transparent border border-amarelo rounded-full px-4 py-2 w-full text-amarelo placeholder-amarelo focus:outline-none focus:border-2" %}
            </div>
            <span id="username-error" class="error-message text-sm mb-4 text-amarelo">O nome de usuário não pode conter espaços, letras maiúsculas ou caracteres especiais.</span>

            <div class="mb-4">
                {% render_field form.email placeholder=form.email.label class+="bg-transparent border border-amarelo rounded-full px-4 py-2 w-full text-amarelo placeholder-amarelo focus:outline-none focus:border-2" %}
            </div>
            
            <div class="relative mb-4">
                {% render_field form.password1 placeholder="Senha" id="password1" class+="bg-transparent border border-amarelo rounded-full px-4 py-2 w-full text-amarelo placeholder-amarelo focus:outline-none focus:border-2" %}
                <button id="toggle-password1" class="absolute inset-y-0 right-0 pr-4 flex items-center cursor-pointer text-amarelo">
                    <i id="eye-icon" class="fas fa-eye"></i>
                </button>
            </div>
            <span id="password1-error" class="error-message text-sm mb-4 text-amarelo">A senha deve ter pelo menos 8 caracteres e conter pelo menos uma letra maiúscula.</span>
            
            <div class="relative mb-4">
                {% render_field form.password2 placeholder="Confirmar senha" id="password2" class+="bg-transparent border border-amarelo rounded-full px-4 py-2 w-full text-amarelo placeholder-amarelo focus:outline-none focus:border-2" %}
                <button id="toggle-password2" class="absolute inset-y-0 right-0 pr-4 flex items-center cursor-pointer text-amarelo">
                    <i id="eye-icon" class="fas fa-eye"></i>
                </button>
            </div>
            <div id="password2-error" class="error-message text-sm mb-4 text-amarelo">As senhas não coincidem.</div>

            <div class="mb-4">
                {% render_field form.phone_number placeholder="Telefone" id="telefone" class+="bg-transparent border border-amarelo rounded-full px-4 py-2 w-full text-amarelo placeholder-amarelo focus:outline-none focus:border-2" %}
            </div>
            
            <div class="mb-4">
                {% render_field form.company_name placeholder="Nome da empresa" class+="bg-transparent border border-amarelo rounded-full px-4 py-2 w-full text-amarelo placeholder-amarelo focus:outline-none focus:border-2" %}
            </div>
            
            <div class="mb-4">
                {% render_field form.responsible_person placeholder="Nome da pessoa responsável" class+="bg-transparent border border-amarelo rounded-full px-4 py-2 w-full text-amarelo placeholder-amarelo focus:outline-none focus:border-2" %}
            </div>
            
            <div class="mb-4">
                {% render_field form.CNPJ placeholder="CNPJ" class+="bg-transparent border border-amarelo rounded-full px-4 py-2 w-full text-amarelo placeholder-amarelo focus:outline-none focus:border-2" %}
            </div>
            
            <div class="mb-4 mt-6 flex justify-between">
                <label id="file-label" for="register-file" class="w-full bg-amarelo rounded-full text-center px-4 py-2 justify-center text-rosa hover:bg-yellow-200 cursor-pointer placeholder-amarelo focus:outline-none focus:border-2">
                    Upload de seus arquivos de marca
                </label>
                {% render_field form.userFiles placeholder="Arquivos" id="register-file" class+="bg-transparent hidden border border-amarelo rounded-full px-4 py-2 w-full text-amarelo focus:outline-none focus:border-2" %}
            </div>
            
            <div class="mt-8 mb-4 flex justify-center">
                <input type="submit" value="Cadastre-se" class="bg-amarelo hover:bg-yellow-200 text-rosa font-bold py-2 px-4 rounded-full cursor-pointer focus:outline-none" id="submit-button">
            </div>
            
            <a href="{% url 'login' %}" class="text-center text-amarelo hover:text-yellow-200 block">Já tem uma conta?</a>
        </form>
    </div>

<script>
    document.getElementById('register-file').addEventListener('change', function() {
        var label = document.getElementById('file-label');
        if (this.files.length > 0) {
            let fileName = this.files[0].name; 
            if (fileName.length > 20) {
                fileName = fileName.substring(0, 20) + '...';
            }
            label.textContent = 'Arquivo selecionado: ' + fileName;
        } else {
            label.textContent = 'Upload de seus arquivos de marca';
        }
    });

    document.getElementById('registration-form').addEventListener('input', function() {
        const usernameField = document.querySelector('[name="username"]');
        const password1Field = document.querySelector('[name="password1"]');
        const password2Field = document.querySelector('[name="password2"]');
        const submitButton = document.getElementById('submit-button');
        
        const usernameError = document.getElementById('username-error');
        const password1Error = document.getElementById('password1-error');
        const password2Error = document.getElementById('password2-error');
        
        let isValid = true;

        // Username validation
        const usernameValue = usernameField.value;
        if (/[^a-z0-9]/.test(usernameValue)) {
            usernameField.classList.add('error');
            usernameError.style.display = 'block';
            isValid = false;
        } else {
            usernameField.classList.remove('error');
            usernameError.style.display = 'none';
        }

        // Password1 validation
        const password1Value = password1Field.value;
        if (password1Value.length < 8 || !/[A-Z]/.test(password1Value)) {
            password1Field.classList.add('error');
            password1Error.style.display = 'block';
            isValid = false;
        } else {
            password1Field.classList.remove('error');
            password1Error.style.display = 'none';
        }

        // Password2 validation
        const password2Value = password2Field.value;
        if (password1Value !== password2Value) {
            password2Field.classList.add('error');
            password2Error.style.display = 'block';
            isValid = false;
        } else {
            password2Field.classList.remove('error');
            password2Error.style.display = 'none';
        }

        // Enable/disable submit button
        submitButton.disabled = !isValid;
        submitButton.classList.toggle('opacity-50', !isValid);
        submitButton.classList.toggle('cursor-not-allowed', !isValid);
    });

    document.getElementById('toggle-password1').addEventListener('click', function() {
        const passwordField = document.getElementById('password1');
        const type = passwordField.type === 'password' ? 'text' : 'password';
        passwordField.type = type;
        this.classList.toggle('feather-eye-off');
    });

    document.getElementById('toggle-password2').addEventListener('click', function() {
        const passwordField = document.getElementById('password2');
        const type = passwordField.type === 'password' ? 'text' : 'password';
        passwordField.type = type;
        this.classList.toggle('feather-eye-off');
    });
</script>
</body>
