{% extends "bloomy/layout.html" %}
{% load widget_tweaks %}
{% block body %}
<div class="bg-rosa flex flex-col items-center p-8">
    <h3 class="text-center branco text-2xl text-branco mb-6">Atualizar dados do usuario</h3>

    <form action="" method="post">
        {% csrf_token %}
        <p class="text-branco">Nome da empresa</p>
        <div class="mb-6">
            {% render_field form.company_name class+="bg-transparent border border-amarelo rounded-full px-4 py-2 w-full text-amarelo placeholder-amarelo focus:outline-none focus:border-yellow-200 focus:border-2" %}
        </div>
        <div class="mb-6">
            <p class="text-branco">CNPJ</p>
            {% render_field form.CNPJ class+="bg-transparent border border-amarelo rounded-full px-4 py-2 w-full text-amarelo placeholder-amarelo focus:outline-none focus:border-yellow-200 focus:border-2" %}
        </div>
        <div class="mb-6">
            <p class="text-branco">Nome da pessoa responsvael</p>
            {% render_field form.responsible_person class+="bg-transparent border border-amarelo rounded-full px-4 py-2 w-full text-amarelo placeholder-amarelo focus:outline-none focus:border-yellow-200 focus:border-2" %}
        </div>
        <div class="mb-6">
            <p class="text-branco">Numero de telefone</p>
            {% render_field form.phone_number class+="bg-transparent border border-amarelo rounded-full px-4 py-2 w-full text-amarelo placeholder-amarelo focus:outline-none focus:border-yellow-200 focus:border-2" %}
        </div>
        
        <div class="mt-8 mb-6 flex justify-center">
            <input type="submit" value="Salvar" class="bg-amarelo center hover:bg-yellow-200 text-preto font-bold py-2 px-4 rounded-full cursor-pointer focus:outline-none">
        </div>
    </form>   
</div>
<img src="../../../static/tira-cuadrados.webp" alt=""> 
{% endblock %}