{% extends "bloomy/layout.html" %}
{% block body %}
{% load widget_tweaks%}
<div class="bg-pink-600 p-8"> 
    <div class="flex flex-col mx-auto items-center text-white ">
        <h3 class="text-2xl text-white">Reseteo de senha</h3>
        <p class="text-white mt-4">Esqueceu sua senha? Ingressa sua conta de email embaixo e vamos te mandar instruçoes para configurar uma nova </p>
        <form action="" method="post" class="mt-6 flex flex-col items-center">
            {% csrf_token %}
            {% render_field form.email placeholder=form.username.label class+="bg-transparent bg-transparent border border-yellow-400 rounded-full px-4 py-2 w-full text-yellow-400 placeholder-yellow-400 focus:outline-none focus:border-yellow-600" %}
            <input type="submit" value="Enviar email" name="Send email" class="bg-yellow-400 cursor-pointer px-4 py-2 mt-4 border border-yellow-400 rounded-full text-pink-600 hover:pointer mb-4">

        </form>
        <a href="{% url 'login' %}" class="text-white">Voltar pro login</a>
    </div>
</div>
<div class="hidden md:block"> 
    <img src="../../../static/three-rows.webp" class="w-full">
</div>
<div class="md:hidden"> 
    <img src="../../../static/three-rows-sm.webp" class="w-full">
</div>
{% endblock %}