

{% extends "bloomy/layout.html" %}
{% block body %}
{% load widget_tweaks%}
<div class="bg-pink-600 p-8"> 
    <div class="flex flex-col mx-auto items-center text-white ">
        <h3 class="text-2xl text-white">Digite uma nova senha</h3>
        <p class="text-white mt-4">Por favor digite a sua nova senha duas vezes para conferir que escreveu corretamente</p>
        <form action="" method="post" class="mt-6 flex flex-col items-center">
            {% csrf_token %}
            <label for="" class="text-white mt-4">Nova senha</label>
            {% render_field form.new_password1 class+="bg-transparent bg-transparent border border-yellow-400 rounded-full px-4 py-2 w-full text-yellow-400 placeholder-yellow-400 focus:outline-none focus:border-yellow-600" %}
            <label class="text-white mt-4">Confirmacao de senha</label>
            {% render_field form.new_password2 class+="bg-transparent bg-transparent border border-yellow-400 rounded-full px-4 py-2 w-full text-yellow-400 placeholder-yellow-400 focus:outline-none focus:border-yellow-600" %}
            <input type="submit" value="Atualizar senha" class="bg-yellow-400 cursor-pointer px-4 py-2 mt-4 border border-yellow-400 rounded-full text-pink-600 hover:pointer mb-4">

        </form>
        <a href="{% url 'login' %}" class="text-white">Voltar pro login</a>
    </div>
</div>
<div class="hidden md:block"> 
    <img src="../../../static/three-rows.webp" class="w-full">
</div>
<div class="md:hidden"> 
    <img src="../../../static/three-rows-sm.webp" class="w-full">
</div>
{{form}}
{% endblock %}
