{% extends "bloomy/layout.html" %}
{% load static %}
{% block body %}
    <div class="bg-purpura flex flex-col items-center p-8">
        <img src="{% static 'raio-border.webp' %}" alt="" class="absolute top-[130px] left-[-50px] w-[350px] hidden md:block">
        <img src="{% static 'logo-login (1).webp' %}" alt="logo bloomy" class="py-4 w-[300px]">
        <h2 class="text-2xl text-amarelo py-4">Bem vindo ao <strong>fast design</strong></h2>
        <p class="text-branco w-[450px] py-4 text-center">Selecione a quantidade de materiais desejados e faça seu briefing de forma simplificada. A proposta da Bloomy é viabilizar ideias de forma simples e rápida!</p>
        <a href="" class="bg-amarelo text-preto rounded-full my-4 py-4 px-8 hover:bg-yellow-200 transform transition-transform duration-300 hover:scale-105">Conheça os pacotes</a>
    </div>


    <!--seccion-->
    <div class="bg-preto py-16 px-8 sm:px-16 md:px-24 lg:px-48 xl:px-64 text-white">
        <h2 class="text-2xl font-extrabold mb-10 text-center text-amarelo">Como funciona o trabalho da Bloomy?</h2>
        <p class=" text-center">Selecionamos algumas peças que são as queridinhas das empresas para você parar de sofrer com prazos enormes e custos altos! Aqui, você vai ter acesso a um espaço só seu, para colocar a identidade do seu negócio as artes que forem necessárias para fazer suas ideias ganharem corpo na internet.</p>
        <div class="text-center my-8 ">
            <a href="" class="bg-laranja transform transition-transform duration-300 hover:scale-105 mt-4 py-4 px-8 my-4 rounded-full hover:bg-red-400">
                Fale com um Bloomer
            </a>            
        </div>
        <div class="flex justify-center mt-8 space-x-4 mt-20">
            <img src="{% static '1.CARROSSEL.webp' %}" alt="Imagem 1" class="w-40 h-40 object-cover transform transition-transform duration-300 hover:scale-105">
            <img src="{% static '2.CARROSSEL.webp' %}" alt="Imagem 2" class="w-40 h-40 object-cover transform transition-transform duration-300 hover:scale-105">
            <img src="{% static '3.CARROSSEL.webp' %}" alt="Imagem 3" class="w-40 h-40 object-cover transform transition-transform duration-300 hover:scale-105">
            <img src="{% static '4.CARROSSEL.webp' %}" alt="Imagem 4" class="w-40 h-40 object-cover transform transition-transform duration-300 hover:scale-105">
            <img src="{% static '5.CARROSSEL.webp' %}" alt="Imagem 5" class="w-40 h-40 object-cover transform transition-transform duration-300 hover:scale-105">
        </div>
        <div class="flex mt-8 justify-center">
            <img src="{% static 'pink-thunder.webp' %}" alt="" class="w-8 mr-4">
            <p class="text-center text-lg">Exemplo: Carrossel para Instagram construído com 5 peças!</p>
        </div>
    
    </div>
    

    <!-- algumas pecas q pode pedir -->
    <div class="bg-amarelo flex flex-col items-center p-8 text-preto">
        <div class="flex flex-col md:flex-row items-center w-full max-w-5xl mx-auto">
            <!-- Contenedor de la imagen y el título -->
            <div class="flex items-center mb-6 md:mb-0 md:w-1/2">
                <img src="{% static 'pink-thunder.webp' %}" alt="Thunder" class="w-12 md:w-16 mr-6 transform transition-transform duration-300 hover:scale-105">
                <p class="text-2xl md:text-3xl text-left">
                    Veja algumas <strong>pecas que voce pode pedir!</strong>
                </p>
            </div>
            <!-- Separador vertical -->
            <div class="border border-rosa h-40 mx-6 hidden md:block md:mx-8"></div>
            <!-- Contenedor de párrafos separados -->
            <div class="md:w-1/2 text-lg md:text-xl text-preto">
                <p>Posts de Instagram</p>
                <p>Arte para Stories</p>
                <p>Capa de Reels</p>
                <p>Banner para site</p>
                <p>Arte para What’s App</p>
                <p>Flyer digital</p>
                <p>Cartão de visita digital</p>
                <p>Timbrado digital</p>
                <p>Assinatura de e-mail</p>
                <p>Banner para site e muito mais.</p>
                <strong>Muito mais!</strong>
            </div>
        </div>
        <a href="" class="bg-laranja text-amarelo py-4 px-8 my-4 rounded-full hover:bg-red-400">
            Contrate suas peças!
        </a>
    </div>
    
    
   <!-- Sección de Testimonios -->
    <div class="bg-purpura text-branco py-16 px-8">
        <h2 class="text-2xl font-extrabold mb-10 text-center text-amarelo">O Que Nossos Clientes Dizem</h2>
        <div class="flex flex-col md:flex-row justify-center gap-4">
            <div class="bg-preto text-amarelo p-6 rounded-lg shadow-md flex-1 max-w-sm">
                <p class="text-lg font-semibold mb-2">Paola Ribeiro</p>
                <p class="text-lg text-branco italic">"O serviço foi excelente! Os designs são impressionantes e superaram minhas expectativas."</p>
            </div>
            <div class="bg-preto text-amarelo p-6 rounded-lg shadow-md flex-1 max-w-sm">
                <p class="text-lg font-semibold mb-2">Carlos Souza</p>
                <p class="text-lg text-branco italic">"A qualidade e atenção ao detalhe foram incríveis. Recomendo fortemente!"</p>
            </div>
            <div class="bg-preto text-amarelo p-6 rounded-lg shadow-md flex-1 max-w-sm">
                <p class="text-lg font-semibold mb-2">Ana Lima</p>
                <p class="text-lg text-branco italic">"Profissionais extremamente talentosos e dedicados. Não poderia estar mais satisfeita."</p>
            </div>
        </div>
    </div>
    


    <!-- FAQ -->
    <div class="bg-purpura flex flex-col items-center p-8 text-branco shadow-lg">
        <h3 class="text-2xl font-bold mb-6 text-amarelo">Perguntas Frequentes</h3>
        <div class="w-full md:w-[600px] space-y-4">
            <details class="group bg-preto rounded-lg p-4 transition-all duration-300 hover:bg-gray-800">
                <summary class="cursor-pointer font-semibold text-lg text-branco group-hover:text-laranja flex justify-between items-center">
                    <span>Quanto tempo leva para receber meu design?</span>
                    <span class="text-lg group-open:rotate-180 transition-transform duration-300">⮟</span>
                </summary>
                <p class="pl-4 mt-2 text-md text-gray-200 group-hover:text-branco">Tudo depende da complexidade do material que você pedir e quão rápido você libera as informações que vão nele, mas normalmente o nosso prazo é de 2 dias úteis!
                </p>
            </details>
            <details class="group bg-preto rounded-lg p-4 transition-all duration-300 hover:bg-gray-800">
                <summary class="cursor-pointer font-semibold text-lg text-branco group-hover:text-laranja flex justify-between items-center">
                    <span>Posso pedir ajustes?</span>
                    <span class="text-lg group-open:rotate-180 transition-transform duration-300">⮟</span>
                </summary>
                <p class="pl-4 mt-2 text-md text-gray-200 group-hover:text-branco">Sim! Você tem direito a duas rodadas gratuitas de ajuste para garantir que o material esteja do seu agrado. 
                </p>
            </details>
            <details class="group bg-preto rounded-lg p-4 transition-all duration-300 hover:bg-gray-800">
                <summary class="cursor-pointer font-semibold text-lg text-branco group-hover:text-laranja flex justify-between items-center">
                    <span>O atendimento da Bloomy é feito por IA?</span>
                    <span class="text-lg group-open:rotate-180 transition-transform duration-300">⮟</span>
                </summary>
                <p class="pl-4 mt-2 text-md text-gray-200 group-hover:text-branco">Não! Todos os Bloomers são designers qualificados que passam por uma triagem de direção de arte para te atender com qualidade e experiência. 
                </p>
            </details>

            <details class="group bg-preto rounded-lg p-4 transition-all duration-300 hover:bg-gray-800">
                <summary class="cursor-pointer font-semibold text-lg text-branco group-hover:text-laranja flex justify-between items-center">
                    <span>Posso pedir materiais que serão impressos?</span>
                    <span class="text-lg group-open:rotate-180 transition-transform duration-300">⮟</span>
                </summary>
                <p class="pl-4 mt-2 text-md text-gray-200 group-hover:text-branco">A Bloomy trabalha com a produção de materiais digitais, apenas. No entanto, você receberá seu material nas extensões .PNG e .PDF o que permite que você envie para uma gráfica, caso queira imprimir. Nesse caso, a Bloomy não se responsabiliza pela qualidade da impressão, uma vez que os materiais são fechados para utilização digital apenas, ok? 
                </p>
            </details>

            <details class="group bg-preto rounded-lg p-4 transition-all duration-300 hover:bg-gray-800">
                <summary class="cursor-pointer font-semibold text-lg text-branco group-hover:text-laranja flex justify-between items-center">
                    <span>Posso pedir um material que não esteja na lista?</span>
                    <span class="text-lg group-open:rotate-180 transition-transform duration-300">⮟</span>
                </summary>
                <p class="pl-4 mt-2 text-md text-gray-200 group-hover:text-branco"> Para que a gente consiga trabalhar com preços competitivos precisamos nos ater a uma lista pré-determinada de produtos que foram pensados com bastante cuidado para atender a maior parte das demandas digitais das empresas. Estamos trabalhando todos os dias para aumentar esse leque de possibilidades e te atender cada vez melhor! 
                </p>
            </details>

        </div>
        </div>
    
    
    
{% endblock %}