{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bloomy{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <link rel="icon" href="{% static 'yellow-thunder.webp' %}" type="image/x-icon">
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');
        body {
            font-family: "Alexandria", sans-serif;
        }
    </style>
</head>
<body class="flex flex-col min-h-screen">

    <nav class="bg-purpura border-gray-200">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
            <a href="" class="flex items-center space-x-3 rtl:space-x-reverse">
                <img src="{% static 'logo-navbar.webp'%}" class="h-12 transform transition duration-300 hover:scale-110" alt="Bloomy Logo" />
            </a>
            <button data-collapse-toggle="navbar-default" type="button" class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-amarelo rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-default" aria-expanded="false">
                <span class="sr-only">Open main menu</span>
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
                </svg>
            </button>
            <div class="hidden w-full md:block md:w-auto" id="navbar-default">
                <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-transparent">
                    {% if user.is_authenticated %}
                        <li class="text-white flex items-center">
                            E aí, <b> {{ request.user }}!</b>
                        </li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li class="flex items-center">
                            <a href="{% url 'provider' %}" class="block py-2 px-3 {%if request.path == '/provider' %} text-preto {%else%}text-amarelo {% endif %} font-semibold rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-preto md:p-0">Fornecedor</a>
                        </li>
                    {% endif %}
                    <li class="flex items-center">
                        <a href="{% url 'index' %}" class="block py-2 px-3 {%if request.path == '/' %} text-preto {%else%}text-amarelo {% endif %} font-semibold rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-preto md:p-0">Inicio</a>
                    </li>
                    <li class="flex items-center">
                        <a href="{% url 'packages' %}" class="block py-2 px-3 {%if request.path == '/packages' %} text-preto {%else%}text-amarelo {% endif %} font-semibold rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-preto md:p-0">Comprar creditos</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="flex items-center">
                            <a href="{% url 'subscriptions' %}" class="block py-2 px-3 {%if request.path == '/subscriptions' %} text-preto {%else%}text-amarelo {% endif %} font-semibold rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-preto md:p-0">Meus créditos</a>
                        </li>
                        <li class="flex items-center">
                            <a href="{% url 'user_orders' %}" class="block py-2 px-3 {%if request.path == '/user_orders' %} text-preto {%else%}text-amarelo {% endif %} font-semibold rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-preto md:p-0">Meus pedidos</a>
                        </li>
                        <li class="flex items-center">
                            <a href="{% url 'create_order' %}" class="block py-2 px-3 {%if request.path == '/create_order' %} text-preto {%else%}text-amarelo {% endif %} font-semibold rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-preto md:p-0">Novo pedido</a>
                        </li>
                        <li class="flex items-center">
                            <button type="button" class="flex items-center justify-center text-sm rounded-full md:me-0 focus:ring-4 focus:ring-preto transform transition duration-300 hover:scale-110" id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown" data-dropdown-placement="bottom">
                                <span class="sr-only">Open user menu</span>
                                <p class="w-10 h-10 rounded-full text-xl text-preto flex items-center justify-center bg-amarelo">
                                    {{ user.username|slice:":1"|upper }}
                                </p>
                            </button>                            
                        </li>
                    {% else %}
                        <li class="flex items-center">
                            <a href="{% url 'login' %}" class="block py-2 px-3 text-amarelo font-semibold rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-preto md:p-0">Ingressar</a>
                        </li>
                        <li class="flex items-center">
                            <a href="{% url 'register' %}" class="block py-2 px-3 text-amarelo font-semibold rounded hover:bg-gray-700 md:hover:bg-transparent md:border-0 md:hover:text-preto md:p-0">Cadastre-se</a>
                        </li>
                    {% endif %}
                </ul>
    
                <div class="z-50 hidden my-4 text-white list-none bg-purpura border border-white divide-y divide-gray-100 rounded-lg shadow" id="user-dropdown">
                    <div class="px-4 py-3">
                      <span class="block text-sm">{{ user }}</span>
                      <span class="block text-sm truncate">{{ user.email }}</span>
                    </div>
                    <ul class="py-2" aria-labelledby="user-menu-button">
                      <li>
                        <a href="{% url 'update_profile' %}" class="block px-4 py-2 hover:bg-preto">Editar perfil</a>
                      </li>
                      <li>
                        <a href="{% url 'logout' %}" class="block px-4 py-2 hover:bg-preto">Logout</a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    
    <!-- Messages -->
    <div class="container mx-auto relative">
        {% if messages %}
            <div class="fixed top-15 left-0 w-full z-300">
                {% for message in messages %}
                    <div class="relative my-4 p-4 mx-auto w-11/12 md:w-2/3 lg:w-1/2 rounded-lg 
                        {% if message.tags == 'success' %} bg-green-100 border border-2 border-green-400 text-green-700 
                        {% elif message.tags == 'error' %} bg-red-100 border border-2 border-red-400 text-red-700 
                        {% elif message.tags == 'warning' %} bg-yellow-100 border border-2 border-yellow-400 text-yellow-700 
                        {% elif message.tags == 'info' %} bg-blue-100 border border-2 border-preto text-blue-700 
                        {% else %} bg-gray-100 border border-2 border-gray-400 text-gray-700 
                        {% endif %}">
                        <span class="absolute top-0 right-0 mt-2 mr-2 text-2xl cursor-pointer text-gray-500 hover:text-gray-800" onclick="this.parentElement.remove();">&times;</span>
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>    
    
    {% block body %}
    {% endblock %}    
    
    <!-- Footer -->
    <footer class="bg-laranja py-4 mt-auto w-full flex justify-center">
        <div class="container mx-auto flex justify-center">
            <a href="https://www.instagram.com/design.bloomy" target="_blank" rel="noopener noreferrer" class="text-white hover:text-gray-200">
                <img src="{% static 'ig-logo.webp' %}" alt="Instagram Logo" class="h-8 mr-4 transform transition duration-300 hover:scale-125">
            </a>
            <a href="">
                <img src="{% static 'white-thunder.webp' %}" alt="White Thunder Logo" class="h-8 transform transition duration-300 hover:scale-125">
            </a>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <script>
            setTimeout(function() {
            document.querySelectorAll('.container .fixed').forEach(function(message) {
                message.remove();
            });
        }, 5000); // 5000 milliseconds = 5 seconds

    </script>
</body>
</html>