{% extends "bloomy/layout.html" %}
{% load static %}
{% block title %} - Pacotes {% endblock%}
{% block body %}
<div class="absolute hidden lg:block -right-16 top-[100px] bg-rosa w-72 h-72 rounded-full"></div>
<div class="absolute hidden lg:block -left-32 top-[300px] bg-amarelo z-0 w-72 h-72 rounded-full"></div>

    <div class="bg-purpura flex flex-col items-center">

        <img src="{% static 'logo-login (1).webp' %}" class="w-72 h-auto my-8" alt="">
        <h1 class="text-2xl text-branco mb-4">Bem-vindo à Bloomy.</h1>
        <h1 class="text-lg text-branco mb-6">Selecione abaixo a sua escolha de peças!</h1>
        
        <div class="flex justify-center flex-wrap gap-4 mb-8">
            {% for p in packages %}
                <div class="bg-transparent border border-2 border-amarelo rounded-xl w-60 h-50 flex flex-col justify-between items-center py-6 mb-4">
                    <div class="text-center">
                        {% if p.allowed_usages == 1 %} <h2 class="text-3xl text-white text-left">Peças</h2> <h1 class="text-3xl text-white">avulsas</h1>  {%else%} <h2 class="text-xl text-branco">Pacote de</h2> <h2 class="text-6xl font-bold text-branco">{{p.allowed_usages}}</h2> <h2 class="text-xl text-branco">peças</h2>{% endif%}
                    </div>

                    <div class="relative -bottom-12 w-52 flex justify-center transform transition-transform duration-300 hover:scale-105">
                        <form action="{% url 'new_subscription' p.id %}" method="post" class="w-full">
                            {% csrf_token %}
                            <input type="submit" value="R$ {{p.price}}" class="font-bold text-lg cursor-pointer text-branco border border-laranja bg-laranja hover:bg-red-400 focus:ring-2 focus:ring-amarelo font-medium rounded-full text-sm px-5 py-2.5 mb-2 w-full">
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>

    <!-- Pecas avulsas -->
    <div class="flex justify-center flex-wrap gap-4 mb-8">
        {% for p in packages %} {% if p.allowed_usages == 1 %}
            <form action="{% url 'new_subscription' p.id %}" method="post">
                {% csrf_token %}
                <div class="flex items-center justify-center">
                    <p class="text-branco pr-8">Quantidade personalizada</p>
                    <input type="number" name="quantity" id="input-pieces" value="1" min="1" max="9" class="bg-transparent rounded-full focus:outline-laranja text-branco text-lg font-bold border border-2 border-amarelo px-4 py-2">
                    <input type="submit" name="" value="Comprar" class="px-4 py-2 bg-amarelo text-purpura rounded-full ml-4 hover:bg-transparent border border-amarelo hover:text-amarelo cursor-pointer">
                </div>
                <div class="flex flex-col items-center">
                    <p class="rounded-full border border-2 border-laranja text-amarelo px-4 py-2 bg-transparent" id="pieces-price">RS 0</p>
                </div>
                
            </form>
        {% endif %}{% endfor %} 
    </div>

    </div>

    <!--Section video -->
    <div class="flex flex-col p-6 md:p-20 bg-preto items-center">
        <div class="flex">
            <h2 class="text-amarelo text-center text-2xl md:text-3xl font-semibold mb-4 md:mb-8">Entenda como contabilizamos a quantidade necessária de peças</h2>
            <img src="{% static 'pink-thunder.webp' %}" alt="" class="h-12 ml-4 hidden md:block">
        </div>
        <video controls src="{% static 'video.mp4' %}" type="video/mp4" width="800"></video>
    </div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const quantityInput = document.getElementById('input-pieces');
        const priceDisplay = document.getElementById('pieces-price');

        function updatePrice() {
            const quantity = parseInt(quantityInput.value, 10);
            const totalPrice = quantity * 170;
            if (isNaN(totalPrice)) {
                priceDisplay.textContent = `RS -`;
            } else{
                priceDisplay.textContent = `RS ${totalPrice}`;
            }
            
        }

        quantityInput.addEventListener('input', updatePrice)

        updatePrice();
    })
    
</script>
{% endblock %}