{% extends "bloomy/layout.html" %}
{% load static %}
{% block title %} - Pacotes {% endblock%}
{% block body %}
    <img src="../../../static/tira-cuadrados.webp" alt="">
    <div class="bg-purpura">
        <br><br>
        <div class="flex justify-center">
            <h1 class="text-2xl text-branco">Selecione o melhor pacote para você</h1>
            <br><br>
        </div>
        <div class="flex justify-center flex-wrap gap-4 mb-8">
            {% for p in packages %}
                <div class="bg-transparent border border-amarelo rounded-lg w-60 h-50 flex flex-col justify-center items-center">
                    <div class="p-5">
                        <h5 class="mb-2 text-2xl text-branco font-bold">Pacote de {{p.allowed_usages}} usos</h5>
                        <p class="mb-3 font-normal text-branco">${{p.price}}</p>
                        <form action="{% url 'new_subscription' p.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Peça agora" class="font-bold cursor-pointer text-amarelo border border-amarelo bg-purpura hover:bg-amarelo focus:ring-4 hover:text-purpura font-medium rounded-lg text-sm px-5 py-2.5 mb-2 bg-purpura hover:bg-amarelo hover:text-purpura">
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--Section video -->
    <div class="flex flex-col p-6 md:p-20 bg-preto items-center">
        <div class="flex">
            <h2 class="text-amarelo text-center text-2xl md:text-3xl font-semibold mb-4 md:mb-8">Entenda como contabilizamos a quantidade necessária de peças</h2>
            <img src="{% static 'pink-thunder.webp' %}" alt="" class="h-12 ml-4 hidden md:block">
        </div>
        <video controls src="{% static 'video.mp4' %}" type="video/mp4" width="800"></video>
    </div>

{% endblock %}