{% extends "bloomy/layout.html" %}
{% block body %}
<div class="bg-purple-200 min-h-screen flex flex-col">
    <h1 class="text-2xl font-bold mb-4">Lista de Pedidos</h1>
    <table class="min-w-full border border-gray-200">
        <thead>
            <tr>
                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                    ID
                </th>
                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                    User
                </th>
                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                    Nome
                </th>
                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                    Briefing
                </th>
                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                    Texto Sugerido
                </th>
                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                    Data
                </th>
                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                    Status
                </th>
                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                    Especificaçao
                </th>
                <th class="px-6 py-3 border-b border-gray-200  text-left text-xs leading-4 font-medium text-gray-600 uppercase tracking-wider">
                    Açoes
                </th>
            </tr>
        </thead>
        <tbody class="">
            {% for order in orders %}
                <tr>
                    <td class="px-6 py-4 border-b border-gray-200 text-sm leading-5 text-gray-900">
                        {{ order.id }}
                    </td>
                    <td class="px-6 py-4 border-b border-gray-200 text-sm leading-5 text-gray-900">
                        {{ order.user.username }}
                    </td>
                    <td class="px-6 py-4 border-b border-gray-200 text-sm leading-5 text-gray-900">
                        {{ order.name }}
                    </td>
                    <td class="px-6 py-4 border-b border-gray-200 text-sm leading-5 text-gray-900">
                        {{ order.briefing }}
                    </td>
                    <td class="px-6 py-4 border-b border-gray-200 text-sm leading-5 text-gray-900">
                        {{ order.suggestedText }}
                    </td>
                    <td class="px-6 py-4 border-b border-gray-200 text-sm leading-5 text-gray-900">
                        {{ order.date }}
                    </td>
                    <td class="px-6 py-4 border-b border-gray-200 text-sm leading-5 text-gray-900">
                        {{ order.get_status_display }}
                    </td>
                    <td class="px-6 py-4 border-b border-gray-200 text-sm leading-5 text-gray-900">
                        {{ order.specification.name }}
                    </td>
                    <td class="px-6 py-4 border-b border-gray-200 text-sm leading-5 text-gray-900">
                        <a href="{% url 'provider_single_order' order.id %}"><button class="bg-blue-500 text-white px-4 py-2 rounded">
                            Ver Pedido
                        </button></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
