{% extends "bloomy/layout.html" %}
{% block body %}
{% load widget_tweaks %}
    <div class="bg-purple-200 min-h-screen">
        <div class="container mx-auto text-center my-10 border border-gray-800 rounded-lg p-4">
            <h1 class="text-3xl font-bold text-gray-800 mb-6"><b>{{ order.name }}</b></h1>
            <div class="text-2xl text-gray-700 mb-4"><b>Status:</b> <u>{{ order.get_status_display }}</u></div>
            <div class="text-xl text-gray-600"><b>ID do pedido:</b> {{ order.id }}</div>
            <div class="text-xl text-gray-600"><b>Data de pedido:</b> {{ order.date|date:"d/m/Y" }}</div>
            <div class="text-xl text-gray-600"><b>Data de pedido:</b> {{ order.date|date:"d/m/Y" }}</div>
            <div class="text-xl text-gray-600"><b>Briefing:</b> {{ order.briefing }}</div>
            <div class="text-xl text-gray-600"><b>Texto sugerido:</b> {{ order.suggested_text }}</div>
            {% if order.file %}
                <a href="{{ order.file.url }}" class="text-xl text-gray-600 hover:text-blue-800" download><u>Download do arquivo</u></a>
            {% else %}
                <div class="text-xl text-gray-600 mt-6"><i>O usuario nao carregou arquivos para esse pedido</i></div>
            {% endif %}

            {% if ajustes %}
            <br><hr>
                <div class="text-2xl font-bold text-gray-800 mb-6">O usuario pidiu ajuste/s, para esse pedido</div>
                {% for ajuste in ajustes %}
                    {% if forloop.counter == 1 %}
                        <strong class="text-xl text-gray-600">Primeiro ajuste:</strong>
                    {% elif forloop.counter == 2 %}
                        <strong class="text-xl text-gray-600">Segundo ajuste:</strong>
                    {% endif %}
                    <div class="text-xl text-gray-600">Descricao do ajuste: {{ajuste.description}}</div>
                    {%if ajuste.file %}
                        <a href="{{ ajuste.file.url }}" class="text-blue-500" download><u>Abaixar arquivo adjunto do ajuste</u></a>
                    {% else %}
                        <p class="text-blue-500"><i>O usuario nao subiu arquivos pro ajuste</i></p>    
                    {% endif %}
                    <br>
                {% endfor %}
            {% endif %}

            <div class="mt-6">
                {% if order.status != 'ENTREGUE' and order.status != 'CANCELADO' %}
                    <hr> <br>
                    <form action="{% url 'complete_order' order.id %}" method="post" enctype="multipart/form-data" class="flex flex-col items-center">
                        {% csrf_token %}
                        <div class="block text-xl text-gray-600 mb-6">Fazer entregue do pedido</div> 
                        <label id="file-label" for="form-file" class="text-lg text-white border border-yellow-200 p-4 bg-yellow-500 rounded-full mt-4 ">Subir trabalho</label>
                        {% render_field form.file id="form-file" class+="hidden" %}
                        <br>
                        <button type="submit" id="btn-completado" class="hidden">Completar Pedido</button>

                        {% if order.status == 'EM_APROVACAO' %}
                            <div>(O arquivo ja foi enviado e esta em espera de aprovacao do usuario)</div>
                        {% endif %}
                    </form>
                
                    <a href="{% url 'cancel_order' order.id %}"><button class="button bg-red-500 text-white font-bold py-2 px-4 rounded m-2">Cancelar Pedido</button></a>
                {% else %}
                    {% if order.status == 'ENTREGUE' %}
                        <p class="font-bold text-2xl">Esse pedido ja foi entregue</p>
                    {% endif %}
                    {% if order.status == 'CANCELADO' %}
                        <p class="font-bold text-2xl">Esse pedido foi cancelado</p>
                    {% endif %}
                {% endif %}

            </div>

        </div>
    </div>
    <script>
        document.getElementById('form-file').addEventListener('change', function() {
        var label = document.getElementById('file-label');
        const btn = document.getElementById('btn-completado');
        if (this.files.length > 0) {
            let fileName = this.files[0].name; 
            btn.classList = 'block button bg-green-500 text-white font-bold py-2 px-4 rounded m-2 mt-6';
            if (fileName.length > 20) {
                 fileName = fileName.substring(0, 20)
            }
            label.textContent = 'Arquivo selecionado: ' + fileName + '...';
        } else {
            label.textContent = 'Subir trabalho';
            btn.classList = 'hidden button bg-green-500 text-white font-bold py-2 px-4 rounded m-2 mt-6';
        }
        });

    </script>
{% endblock %}