{% extends "bloomy/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
    <h1 class="container mx-auto text-2xl font-bold text-gray-800 mb-2">Você tem {{ user.remaining_usages }} usos restantes</h1>
    <a href="{% url 'packages' %}">Consiga mais usos clickando aqui</a>
        {% for subscription in subscriptions %}
        <div class="container mx-auto max-w-md p-6 bg-white shadow-md rounded-lg my-10">
            <h2 class="text-2xl font-bold text-gray-800 mb-2">Pacote: {{ subscription.package.name }}</h2>
            <h5 class="text-gray-600 mb-4">Total de usos: {{ subscription.package.allowed_usages }}</h5>
            <p class="text-gray-600 mb-4">Inscrito em: {{ subscription.start_date|date:"d/m/Y" }} as {{subscription.start_date|date:"H:i"}}</p>
        </div>
        {% endfor %}
    {%endif%}
{% endblock %}