{% extends "bloomy/layout.html" %}
{% block body %}
<div class="container mx-auto py-8">
    <h2 class="text-2xl font-bold mb-4 text-center">Listado de Pedidos</h2>
    
    <div class="relative">
        <button id="prev" class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full focus:outline-none z-10">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
            </svg>
        </button>
        <div id="carousel" class="flex overflow-hidden" style="width: 100%;">
            <div id="inner-carousel" class="flex transition-transform duration-300" style="width: 300%;">
                {% for order in orders %}
                <div class="w-1/3 flex-shrink-0 bg-gray-600 text-white rounded-lg overflow-hidden shadow-lg mx-2 p-6" style="height: 350px;">
                    <div class="px-6 py-4 h-full flex flex-col justify-between">
                        <div>
                            <div class="font-bold text-xl mb-2">Pedido #{{ order.id }}</div>
                            <div class="font-bold text-l mb-2">{{ order.name }}</div>
                            <div class=" text-l mb-2">{{ order.date|date:"d/m/Y" }}</div>
                            <p class="text-white text-base">Status: {{ order.get_status_display }}</p>
                            <a href="{% url 'single_order' order.id %}"><button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                                Ver Pedido
                            </button></a>
                        </div>
                        <div>
                            <div class="px-6 pt-4 pb-2"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <button id="next" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full focus:outline-none z-10">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
            </svg>
        </button>
        <br><hr>
        <div class="max-w-3xl mx-auto">

            <h1 class="text-3xl font-bold mb-4">Peças que voce precisa abaixar</h1>
        
            <ul class="divide-y divide-gray-200">
                {% for order in completed_orders %}
                    <li class="py-4">
                        <div class="flex justify-between items-center">
                            <div>
                                <p class="text-lg font-semibold">Pedido ID: {{ order.id }}</p>
                                <p class="text-gray-600">Nome do pedido: {{ order.name }}</p>
                                <p class="text-gray-600">Data de Entrega: {{ order.date }}</p>
                            </div>
                            <div class="ml-4">
                                {% if order.latest_delivery_url %}
                                    <a href="{{ order.latest_delivery_file.file.url }}" class="text-blue-600 hover:text-blue-800" download>Download do arquivo</a>
                                {% endif %}
        
                            </div>
                        </div>
                    </li>
                {% empty %}
                    <li class="py-4">
                        <p class="text-gray-600">Nao tem pedidos entregues disponiveis</p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        


    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const carousel = document.getElementById('carousel');
        const innerCarousel = document.getElementById('inner-carousel');
        const prevButton = document.getElementById('prev');
        const nextButton = document.getElementById('next');
        const items = innerCarousel.children;
        const itemsPerPage = 3;
        let currentPage = 0;

        function updateCarousel() {
            const offset = -(currentPage * carousel.clientWidth);
            innerCarousel.style.transform = `translateX(${offset}px)`;
        }

        prevButton.addEventListener('click', () => {
            if (currentPage > 0) {
                currentPage--;
                updateCarousel();
            }
        });

        nextButton.addEventListener('click', () => {
            if (currentPage < Math.ceil(items.length / itemsPerPage) - 1) {
                currentPage++;
                updateCarousel();
            }
        });

        updateCarousel();
    });
</script>
{% endblock %}
