{% extends "bloomy/layout.html" %}
{% load static %}

{% block title %} - Meus pedidos{% endblock %}
{% block body %}
<style>
    #carousel-item {
        width: 100%;
    }

    #card {
        height: 250px;
    }

    /* Estilos para pantallas grandes (768px y mayores) */
    @media (min-width: 768px) {
        #carousel-item {
            width: calc(100% / 3);
        }

    }        
</style>

    <div class="bg-preto ">
        <div class="container mx-auto py-8 block">
            <div class="flex mx-auto justify-center items-center mb-4">
                <h2 class="text-xl text-branco mr-4">Quadro de demandas</h2>
                <img src="../../../static/yellow-thunder.webp" alt="thunder" class="h-12 transform transition duration-300 hover:scale-125">
            </div>
            
            <div class="relative"> 
                <button id="prev" class="border border-branco absolute left-0 top-1/2 transform -translate-y-1/2 bg-preto text-branco p-2 rounded-full focus:outline-none z-10 transform transition duration-300 hover:scale-110">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                    </svg>
                </button>
                <div id="carousel" class="overflow-hidden">
                    <div id="inner-carousel" class="flex transition-transform duration-300"> 
                        {% for order in orders %}
                        <div class="w-full flex-shrink-0" id="carousel-item"> 
                            <div id="card" class="border-2 border-amarelo text-branco rounded-lg overflow-hidden shadow-lg mx-2 p-6 relative">
                                <div class="text-center">
                                    <div class="font-bold mb-2">{{ order.name }}</div>
                                    <div class="text-l mb-2">Data do pedido: {{ order.date|date:"d/m/Y" }}</div>
                                    <p>Status:</p>
                                    {% if order.status == 'EM_APROVACAO' %} 
                                        <p class="bg-amarelo text-preto rounded-lg py-2 px-4 rounded animate-pulse text-sm">Pedido em aprovação! Clique abaixo para aprovar ou solicitar ajustes</p>
                                    {% else %}
                                        <p class="{%if order.status == 'ENTREGUE'%}text-amarelo{% else %}text-rosa{% endif %} text-base font-semibold">{{ order.get_status_display }}</p>
                                    {%endif%}

                                    
                                </div>
                                <a href="{% url 'single_order' order.id %}" class="absolute left-1/2 transform -translate-x-1/2 bottom-4">
                                    <button class="bg-rosa hover:bg-pink-400 text-branco py-2 px-4 rounded">
                                    Ver Pedido
                                    </button>
                                </a>
                            </div>
                        </div>
                        {% empty %}
                        <div class="flex flex-col items-center mx-auto text-branco py-12">
                            <p class="mb-4">Ainda nao tem pedidos registrados.</p>
                            <a href="{% url 'create_order' %}" class="bg-amarelo text-preto hover:bg-yellow-200 rounded-full py-2 px-4 transform transition duration-300 hover:scale-105">Clique aqui e faça seu primeiro pedido!</a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <button id="next" class="border border-branco absolute right-0 top-1/2 transform -translate-y-1/2 bg-preto text-branco p-2 rounded-full focus:outline-none z-10 transform transition duration-300 hover:scale-110">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                    </svg>
                </button>
            </div>
            <br>
        </div>
    </div>

    <div class="bg-purpura">
        <div class="px-4 py-6 sm:px-6 md:px-16">
            <p class="text-center text-branco text-xl mb-4">Peças que você precisa baixar</p>
            <div class="overflow-x-auto">
                <div class="inline-block min-w-full">
                    <table class="table-auto min-w-full divide-y divide-branco">
                        <thead>
                            <tr>
                                <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-branco uppercase tracking-wider">
                                    Nome da peça
                                </th>
                                <th scope="col" class="hidden md:block px-4 py-2 text-left text-xs font-medium text-branco uppercase tracking-wider">
                                    Entregue em
                                </th>
                                <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-branco uppercase tracking-wider">
                                    Baixar
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-branco">
                            {% for item in deliveries %}
                                <tr>
                                    <td class="px-4 py-2 text-sm text-branco">
                                        {{ item.order.name }} 
                                    </td>
                                    <td class="px-4 py-2 text-sm text-branco hidden md:block">
                                        {{ item.delivery_date | date:"d/m/Y"  }}
                                    </td>
                                    <td class="px-4 py-2 text-sm font-medium">
                                        <a href="{{ item.file.url }}" class="text-branco hover:text-blue-300" download>Download do arquivo</a>
                                    </td>
                                </tr>
                            {% empty %}
                            <tr>
                                <td colspan="3" class="px-4 text-sm text-branco text-center">
                                    <div class="mt-12 mb-12">Não tem pedidos entregues disponíveis</div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-purpura">
        <div class="alert alert-dismissable bg-amarelo text-preto mt-4 inset-x-0 flex items-center p-4 justify-between">
            <div class="flex items-center mx-auto">
                <img src="../../../static/pink-thunder.webp" class="h-10 mr-4 text-lg" alt="">
                <i>
                    Guardamos as suas peças por 72 horas, depois disso ela não estará mais disponível em nosso sistema!
                </i>
            </div>
                    <button id="dismiss-alert" class="close-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 text-preto" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
    </div>
<script>document.addEventListener('DOMContentLoaded', function() {
    const carousel = document.getElementById('carousel');
    const innerCarousel = document.getElementById('inner-carousel');
    const prevButton = document.getElementById('prev');
    const nextButton = document.getElementById('next');
    const items = innerCarousel.children;

    let itemsPerPage;
    let currentPage = 0;

    function updateItemsPerPage() {
        if (window.innerWidth < 768) {
            itemsPerPage = 1;
        } else {
            itemsPerPage = 3;
        }
        updateCarousel(); // Actualiza el carrusel después de ajustar itemsPerPage
    }

    function updateCarousel() {
        const itemWidth = carousel.clientWidth / itemsPerPage;
        const maxPage = items.length - itemsPerPage;
        const offset = -currentPage * itemWidth;

        // Ajusta el desplazamiento del carrusel
        innerCarousel.style.transform = `translateX(${offset}px)`;

        // Habilita o deshabilita los botones según sea necesario
        prevButton.disabled = currentPage === 0;
        nextButton.disabled = currentPage >= maxPage;
    }

    prevButton.addEventListener('click', () => {
        if (currentPage > 0) {
            currentPage--;
            updateCarousel();
        }
    });

    nextButton.addEventListener('click', () => {
        const maxPage = items.length - itemsPerPage;
        if (currentPage < maxPage) {
            currentPage++;
            updateCarousel();
        }
    });

    // Inicializa los valores
    updateItemsPerPage();

    // Ajusta el número de elementos por página al redimensionar la ventana
    window.addEventListener('resize', updateItemsPerPage);

    // Dismissable alert functionality
    const dismissButton = document.getElementById('dismiss-alert');
    const alert = dismissButton.parentElement;
    dismissButton.addEventListener('click', () => {
        alert.style.opacity = 0;
    });
});
</script>

{% endblock %}
