{% extends "bloomy/layout.html" %}
{% load static %}

{% block title %} - Meus pedidos{% endblock %}
{% block body %}
    <style>
#carousel-item {
    width: 100%;
}

#card {
    height: 250px;
}

/* Estilos para pantallas grandes (768px y mayores) */
@media (min-width: 768px) {
    #carousel-item {
        width: calc(100% / 3);
    }

}        
    </style>
    <!-- Dismissable alert -->
    <div class="inset-x-0 bg-yellow-400 text-white p-4 shadow-lg flex items-center justify-between">
        <div class="flex items-center mx-auto">
            <img src="../../../static/pink-thunder.webp" class="h-10 mr-4 text-lg" alt="">
            <i class="">
                Guardamos as suas peças por 72 horas, depois disso ela não estará mais disponível em nosso sistema!
            </i>
        </div>
        <button id="dismiss-alert" class="text-white focus:outline-none">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
        </button>
    </div>

<!--<div class="bg-purple-500 flex flex-col md:flex-row items-center justify-between p-8">
    <div class="text-xl text-white mb-4 md:mb-0">
        E aí, <b class="text-2xl md:text-3xl">{{request.user}}</b>
    </div>
    <div class="text-center">
        <a class="bg-yellow-300 text-gray-700 rounded-full p-4 hover:bg-yellow-200" href="{% url 'create_order' %}">Novo briefing</a>
    </div>
</div> -->

<div class="bg-gray-600">
    <div class="container mx-auto py-8 block">
        <div class="flex items-center mb-4">
            <h2 class="text-2xl text-white mr-4">Quadro de demandas</h2>
            <img src="../../../static/yellow-thunder.webp" alt="thunder" class="h-12">
        </div>
        
        <div class="relative"> 
            <button id="prev" class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full focus:outline-none z-10">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19l-7-7 7-7" />
                </svg>
            </button>
            <div id="carousel" class="overflow-hidden">
                <div id="inner-carousel" class="flex transition-transform duration-300"> 
                    {% for order in orders %}
                    <div class="w-full flex-shrink-0" id="carousel-item"> 
                        <div id="card" class="border-2 border-yellow-400 text-white rounded-lg overflow-hidden shadow-lg mx-2 p-6 relative">
                            <div class="text-center">
                                <div class="font-bold mb-2">{{ order.name }}</div>
                                <div class="text-l mb-2">Data do pedido: {{ order.date|date:"d/m/Y" }}</div>
                                <p>Status:</p>
                                <p class="{%if order.status == 'ENTREGUE'%}text-yellow-300{% else %}text-pink-400{% endif %} text-base font-semibold">{{ order.get_status_display }}</p>
                            </div>
                            <a href="{% url 'single_order' order.id %}" class="absolute left-1/2 transform -translate-x-1/2 bottom-4">
                                <button class="bg-pink-600 hover:bg-pink-400 text-white py-2 px-4 rounded">
                                    Ver Pedido
                                </button>
                            </a>
                        </div>
                    </div>
                    {% empty %}
                    <div class="flex items-center m-16">
                        <a href="{% url 'create_order' %}" class="text-white">Ainda nao tem pedidos registrados. <b> Clicke aqui e faça seu primeiro pedido agora!</b></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button id="next" class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded-full focus:outline-none z-10">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                </svg>
            </button>
        </div>
        <br>
    </div>
</div>

    <div class="bg-purple-600">
        <div class="px-4 py-6 sm:px-6 md:px-16">
            <p class="text-center text-white text-2xl sm:text-3xl mb-4">Peças que você precisa abaixar</p>
            <div class="overflow-x-auto">
                <div class="inline-block min-w-full">
                    <table class="table-auto min-w-full divide-y divide-white">
                        <thead>
                            <tr>
                                <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Nome da peça
                                </th>
                                <th scope="col" class="hidden md:block px-4 py-2 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Entregue em
                                </th>
                                <th scope="col" class="px-4 py-2 text-left text-xs font-medium text-white uppercase tracking-wider">
                                    Baixar
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-white">
                            {% for item in deliveries %}
                                <tr>
                                    <td class="px-4 py-2 text-sm text-white">
                                        {{ item.order.name }} 
                                    </td>
                                    <td class="px-4 py-2 text-sm text-white hidden md:block">
                                        {{ item.delivery_date }}
                                    </td>
                                    <td class="px-4 py-2 text-sm font-medium">
                                        <a href="{{ item.file.url }}" class="text-white hover:text-blue-300">Download do arquivo</a>
                                    </td>
                                </tr>
                           
                            {% empty %}
                            <tr>
                                <td colspan="3" class="px-4 py-2 text-sm text-white text-center">
                                    Não tem pedidos entregues disponíveis
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    

<script>document.addEventListener('DOMContentLoaded', function() {
    const carousel = document.getElementById('carousel');
    const innerCarousel = document.getElementById('inner-carousel');
    const prevButton = document.getElementById('prev');
    const nextButton = document.getElementById('next');
    const items = innerCarousel.children;

    let itemsPerPage;
    let currentPage = 0;

    function updateItemsPerPage() {
        if (window.innerWidth < 768) {
            itemsPerPage = 1;
        } else {
            itemsPerPage = 3;
        }
        updateCarousel(); // Actualiza el carrusel después de ajustar itemsPerPage
    }

    function updateCarousel() {
        const itemWidth = carousel.clientWidth / itemsPerPage;
        const maxPage = items.length - itemsPerPage;
        const offset = -currentPage * itemWidth;

        // Ajusta el desplazamiento del carrusel
        innerCarousel.style.transform = `translateX(${offset}px)`;

        // Habilita o deshabilita los botones según sea necesario
        prevButton.disabled = currentPage === 0;
        nextButton.disabled = currentPage >= maxPage;
    }

    prevButton.addEventListener('click', () => {
        if (currentPage > 0) {
            currentPage--;
            updateCarousel();
        }
    });

    nextButton.addEventListener('click', () => {
        const maxPage = items.length - itemsPerPage;
        if (currentPage < maxPage) {
            currentPage++;
            updateCarousel();
        }
    });

    // Inicializa los valores
    updateItemsPerPage();

    // Ajusta el número de elementos por página al redimensionar la ventana
    window.addEventListener('resize', updateItemsPerPage);

    // Dismissable alert functionality
    const dismissButton = document.getElementById('dismiss-alert');
    const alert = dismissButton.parentElement;
    dismissButton.addEventListener('click', () => {
        alert.style.display = 'none';
    });
});


</script>

{% endblock %}
